{% extends 'myapp/base.html' %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

<div class="conatiner">
    <div class="model">
        <div class="header">
            <h1>MySchool</h1>
            <p>School chale hum...</p>
         </div>
         </div>
         <a class="btn btn-secondary" href="{% url 'registration'  %}" >Signup</a>
         <a class="btn btn-success" href="{% url 'login'  %}" >Login</a>
    </div>
   <div class="card-body">
       {% if queries %}
       <h3 class="mt-2">STUDENT QUERIES</h3>

           {% for query in queries %}
           <div class="card">
            <div class="card-header bg-secondary text-light">
              by {{query.name}}
            </div>
            <div class="card-body">
              <p> {{query.querry}}</p>
            </div>
            <form action="{% url 'delete' query.id  %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="Delete" name="" id="">
            </form>
          </div>
          <hr>
           {% endfor %}

       {% endif %}
   </div>
    
</div>

{% endblock %}
