{% extends 'myapp/base.html' %}
{% load static %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-warning fw-bold">MyShool Blogs</h1>
    <p class="text-light fw-bold">Everyone In Our School Has After School Activities. Mine Is Going Home. David Levithan!</p>
    <a class="navbar-brand text-light active border m-1 p-1 rounded" aria-current="page" href="{% url 'querry'  %}"><i class="fa fa-plus" aria-hidden="true"></i>  Craete Post</a>
    <a class="navbar-brand text-light active border m-1 p-1 rounded" aria-current="page" href="{% url 'dashboard'  %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>  Dashboard</a>

    <hr style="color: white; border:2px solid">

  </div>
</div>

       {% if queries %}
       
           {% for query in queries %}
           
            

            <div class="card border-warning mb-3 bg-warning" style="max-width:100%">
         
              <div class="card-body text-dark">
                <h5 class="card-title">{{query.title}}</h5>
                <p class="card-text">{{query.querry|safe}}</p>
              </div>
            </div>
             
        
           {% endfor %}
        
        {% else %}
        <div class="alert alert-primary" role="alert">
          No Record found
        </div>


       {% endif %}
   


{% endblock %}
