{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
        <h3 class="success text-center text-light">{{message}}</h3>
    {% endfor %}
{% endif %}
    <div class="card-body active border">
       
        <h3 class="title text-center text-light"> Create Post</h3>
<hr style="color: white; border:2px solid;">

        <form action="" method="post" class="text-light" enctype="multipart/form-data">
            {% csrf_token %}
         
            {{form.media}}
            {{form|crispy}}
           
         
            <input type="submit" class="btn btn-primary" value="Publish">
    
        </form>
    </div>
   
</div>
{% endblock %}